.category-item{
  display: inline-block;
  padding: 10px 15px;
  height: 40px;
  margin: 5px 5px 5px 0;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0 2px 0 0 #DDDDDD, 0 1px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  
  &:hover{
    background:#ff4470;

    & > .category-list-item a{
      color: #fff;
    }

    button{
      color: #fff;
    }
  }

  button{
    position: relative;
    border: none;
    background: none;
    padding: 0 0 0 10px;
    color: #a9a9a9;
    outline: none;

    &:focus{
    outline: none;
    }
  }
}

.category-list-item{
  position: relative;
  display: inline-block;
  list-style: none;

  a {
    color: #222;
    font-weight: 500;
    display: block;
    

    &:hover {
      color: #ff4470;
    }

    &:active {
      color: #ff4470;
    }

    &:visited{
      color: #222;
    }

    &:focus{
      outline: none;
    }
  }
}

