.content {
  position: relative;
  width: 100%;
  height: auto;
  margin: 50px auto auto;
}

.title {
  font-size: 34px;
  color: #000000;
}

.subtitle {
  font-size: 14px;
  color: #696969;
  margin: 20px 0 30px;
}

.category-list {
  position: relative;
  display: block;
  margin: 10px 0;
  padding: 0;
}

.content {
  position: relative;
  margin: 30px 0;
}
