.content {
  position: relative;
  width: 100%;
  height: auto;
  margin: 50px auto auto;
}

.title {
  font-size: 34px;
  color: #000000;
}

.subtitle {
  font-size: 14px;
  color: #696969;
  margin: 20px 0 30px;
}
